In [1]:
# import

import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

from ML_lib.FeatureEngineering.PipelineService import PipelineService

from ML_lib.Services.PlotService import PlotService

from ML_lib.ModelExtension.DecisionTreeClassifierExtension import DecisionTreeClassifierExtension



# initalization

df_train_path = 'https://raw.githubusercontent.com/dataworkshop/webinar-titanic/master/input/train.csv'

df_test_path = 'https://raw.githubusercontent.com/dataworkshop/webinar-titanic/master/input/test.csv'

train_titanic = pd.read_csv(df_train_path)

test_titanic = pd.read_csv(df_test_path)

titanicPipeline = PipelineService()

plotService = PlotService()

/Users/kamiljerzy/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [2]:
# transform and split data


train_tr_titanic = titanicPipeline.pipeline_first(train_titanic)

test_tr_titanic = titanicPipeline.pipeline_first(test_titanic)

In [3]:
# numeric data

train_tr_num_titanic = titanicPipeline.pipeline_first_num(train_titanic)

In [4]:
train_tr_num_titanic.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,sex_cat,embarked_cat,title_norm_cat,cabin_norm_cat,family_size,ticket_cat,single,fare_log,age_bin
0,1,0,3,22.0,1,0,7.2500,0,0,0,0,1,0,0,3.044394,0
1,2,1,1,38.0,1,0,71.2833,1,1,1,1,1,1,0,6.175590,0
2,3,1,3,26.0,0,0,7.9250,1,0,2,0,0,2,1,3.157852,0
3,4,1,1,35.0,1,0,53.1000,1,0,1,1,1,3,0,5.757557,0
4,5,0,3,35.0,0,0,8.0500,0,0,0,0,0,4,1,3.177918,0